@import "src/assets/style/colors";

footer {
  padding: 41px 0 87px;
  background-color: $grey;
}


.logo {
  max-width: 112px;

  img {
    width: 100%;
  }
}

.footerRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 16px;
  text-transform: uppercase;

  a {
    color: white;
    transition-duration: .3s;

    &:hover {
      color: $cyanDef;
    }
  }
}