@import "src/assets/style/colors";

.sliderStyle {
  margin-top: 32px;
  display: flex;
  padding-right: 10px;
  position: relative;

  :global .swiper-pagination {
    //position: absolute;
    //top: 0;
    height: 20px;
    display: flex;
    margin: 0 auto;
    column-gap: 8px;
    justify-content: center;
    align-items: center;
  }
}

.wrap {
  padding: 10px;

  .el {
    height: auto;
  }

}

.bullet {
  background-color: #B3C8D1;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  cursor: pointer;

  &.active {
    background-color: $cyanDef
  }
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 52px;
  height: 52px;
  z-index: 5;
  background-color: inherit;
  border-radius: 6px;
  border: 1px solid $cyanDef;
  transition-duration: .3s;

  &.next {
    right: -92px;
  }

  &.prev {
    left: -92px;
    transform: rotate(180deg);
  }

  &:hover {
    background-color: $cyanDef;

    path {
      stroke: white;
      stroke-width: 3px;
    }
  }

  svg {
    width: 100%;
  }
}

.gapEl {

  position: relative;
}